<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Project Manager</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{project.name}}</h1>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Complete</th>
            <th>Tablet Responsive</th>
            <th>Mobile Responsive</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="template in project.templates" ng-class="template.complete == true ? 'success' : ''">
            <td>{{template.name}}</td>
            <td>{{template.url}}</td>
            <td>{{template.complete}}</td>
            <td>{{template.respTablet}}</td>
            <td>{{template.respMobile}}</td>
        </tr>
       </tbody>
      </table>
    </div>
  </div>
  
  <form class="thing-form">
    <label>Add new template</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new template here." ng-model="newTemplate">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addTemplate()">Add</button>
      </span>
    </p>
  </form>
</div>